<div id="<%= dom_id comment %>">
  <p>
    <%= comment.body %>
  </p>

  <p>
    <small>
      <%= comment.user.name %> |
      <%= (comment.created_at).strftime('%d.%m.%y %H:%M') %>
    </small>
  </p>

</div>
