<div class="container">
  <%= @greeting %>.. <b><%= @user.name %></b> hat auch noch so einen verdammten Kommentar geschrieben:
  <br>
  <hr>
  <%= link_to @url, @url %>
  <br>
  <%= @body %>
  <hr>
</div>
