<div id="<%= dom_id micropost %>">
  <div>
    <strong>Content:</strong>
    <%= micropost.content %>
  </div>

  <div>
      <% micropost.photos.each do |photo| %>
        <%= image_tag photo.picture_url, style: 'width: 50%' %>
      <% end %>
  </div>

  <div>
    <strong>User:</strong>
    <%= micropost.user_id %>
  </div>

</div>
