<h1>Editing photo gallery</h1>

<%= render "form", photo_gallery: @photo_gallery %>

<br>

<div>
  <%= link_to "Show this photo gallery", @photo_gallery %> |
  <%= link_to "Back to photo galleries", photo_galleries_path %>
</div>
